.leftcol{
	width: 20%;
	height: 800px;
	background-color: gray;
	color: white;
	border: solid 1px;
	float: left;
	padding: 0px;
	margin: 0px;
		
}
.container{
	position: relative;
}
.rightcol{
	width: 80%;
	height: 800px;
	border: solid 1px;
	float: left;
	padding: 0px;
	
}
.img{
	width: 910px;
	height: 300px;
	float: left;
	padding-left: 0px;
	
}.
imgbg{
	background-image: url("../img/nha.jpg");
	z-index: -1;
}
.row1{
	height: 300px;
	background-color: #2F4F4F;
	position: relative;
}
#navbar1{
	    position: absolute;
        padding-left: 750px;
        color: white;
}
.row2{
	height: 500px;
	background-color: #2F4F4F;
	width: 910px;
}
.st{
	text-align: center;
	font-size: x-large;
	color: white;
}
@media screen and (max-width:720px) {
	.leftcol{

	font-size: small;
		
}
.img1{
	display: none;
}
#navbar1{
	    position: absolute;
        padding-left: 20px;
        color: white;
}
.st{
	text-align:left;
	font-size: small;
	color: white;
}
	
}